body {
    background-image: url(back.png);
    background-size: 100%;
    margin: 0 0;
}

.ui {
    width: 1280px;
    display: block;
    margin: auto;    
}

.sticker {
    margin-left: -640px;
    left: 50%;
    position: fixed;
    bottom: 24px;
    z-index: 100;
    
    width: 1280px;
    height: 120px;
}

.help {
    position: absolute;
    right: 24px;
    bottom: 0px;
    
    width: 50px;
    height: 50px;
}

.other {
    position: absolute;
    left: 16px;
    bottom: 0px;

    width: 256px;
    height: 120px;
}