body {
    background-image: url(media/back.png);
    background-size: 100%;
    margin: 0 0;
}

.header {
    background-color: #616161;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0px;
}

.task {
    width: 1280px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text {
    width: 547px;
    height: 100px;
    margin-left: 24px;
}

.rate {
    width: 152px;
    height: 34px;
    margin-right: 24px;
}

.ui {
    width: 1280px;
    display: block;
    margin: auto;
    margin-top: 100px;
}

.footer {
    width: 1280px;
    height: 120px;
    position: fixed;
    margin-left: -640px;
    left: 50%;
    bottom: 24px;
    z-index: 20;
}

.help {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-right: 24px;
}

.other {
    width: 256px;
    height: 120px;
    position: absolute;
    bottom: 0px;
    margin-left: 16px;
}

.dropdown {
    width: 230px;
    height: 411px;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 16px;
}

.message {
    width: 313px;
    height: 235px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 30;
}

/*
.footer {
    margin-left: -640px;
    left: 50%;
    position: fixed;
    bottom: 24px;
    z-index: 100;
    
    width: 1280px;
    height: 120px;
}

.help {
    position: absolute;
    right: 24px;
    bottom: 0px;
    
    width: 50px;
    height: 50px;
}

.other {
    position: absolute;
    left: 16px;
    bottom: 0px;
    width: 256px;
    height: 120px;
}
*/